h1 {
    color: blue;
}

:root {
    --textColor: violet;
}

html {
    font-size: 100%;
}

#main {
    height: 100px;
    width: 50%;
    background-color: aqua !important;
}

.container {
    font-size: 20px;
    --text-color: red;
    color: var(--text-color);
}
.heading:hover {
    color: brown;
}

.heading {
    font-size: 1rem;
}

a::after {
    content: " (" attr(href) ")";
}
.text p {
    display: none;
    height: 100px;
    width: 100px;
}
.text:hover p {
    display: block;
    background-color: aqua;
}